<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="/bootstrap.min.css" />

        <title>Spacetime</title>
    </head>
    <body>
        <!-- Image and text -->
        <nav class="navbar navbar-dark bg-dark">
        <span class="navbar-brand">
            Spacetime
        </span>
        </nav>
        <div class="jumbotron">
            <h1 class="display-4">Welcome to Spacetime</h1>
            <p class="lead">Spacetime is a remote access application for Windows, Linux, Mac OS, and mobile and embedded devices.</p>
            <hr class="my-4">
            <p>Let's get started!</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Sign in</a>
        </div>
    </body>
</html>